@media (max-width:768px) {
  #t2:target #p2, #t3:target #p3, #t4:target #p4 {
    transform: translateX(-190%);
    -webkit-transform: translateX(-190%);
    -moz-transform: translateX(-190%);
    -o-transform: translateX(-190%);
    transition-delay: .4s !important;
  }
  ul {
      width: 9%;
  }
}
